body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    background: none;
}

.container {
    display: flex;
    width: 670px;
    height: 450px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.list {
    padding: 0;
    display: flex;
    justify-content: center;
    width: 750px;
}

.item,
img {
    width: 750px;
    float:left;
    object-fit: cover;
}